<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style type="text/css">
			body {
			height: 100vh;
			width: 100vw;
			display: grid;
			place-content: center;
		}
		h1 {
			text-align: center;
		}
		button {
			background-color: #3b3ef7;
			color: white;
			font-weight: 1000;
			padding: 10px;
			border:none ;
		}
		form {
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Logout Succesfully</h1>
	<br>
	<form action="/login" method="GET">
		<button type="submit">LOGIN</button>
	</form>
</body>
</html>